.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

button {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}


/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.light-mode {
  background-color: white;
  color: #04202c;
}

.dark-mode {
  background-color: #04202c;
  color: white;
}

.block-light-mode{
  background: #ffffff;
}

.block-dark-mode {
  background: #c9d1c8;
}

button {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}